#svg {
  /* background: rgb(77, 76, 76); */
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px !important;
  background-image: linear-gradient(to right, #dfdfdf 1px, transparent 1px),
  linear-gradient(to bottom, #dfdfdf 1px, transparent 1px),
  linear-gradient(to right, #f1f1f1 1px, transparent 1px),
  linear-gradient(to bottom, #f1f1f1 1px, transparent 1px) !important;
  background-position: left -1px top -1px, left -1px top -1px,
    left -1px top -1px, left -1px top -1px;
  height: 100% !important;
  width: 100% !important;
  /* Todo: 변경바람 */
  border-radius: 0 0 10px 10px;
}

#chart {
  position: relative;
  width: 800px;
  height: 600px;
  /* border: 1px solid #dfdfdf; */
}

#position {
  position: absolute;
  top: 10px;
  right: 10px;
}

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.connector {
  cursor: crosshair;
  opacity: 0;
}

.connector.active {
  opacity: 1;
  fill: #ffffff00;
  stroke: #ffc400;
  stroke-width: 1px;
}

.connector:hover {
  stroke: #ffc400;
}

#svg .selection {
  stroke: #6f78cf8f;
  fill: #4f52648f;
  fill-opacity: 0.8;
  display: none;
}

#svg .selection.active {
  display: block;
  color: red;
}
