.uvc-login {
  background-color:$u-main;
  min-height:100vh;
  overflow:hidden;
  // @include flex($d:column);
  @include flex($j:center);

  .page-header {
    position:absolute;
    left:0;top:0;
    width:100%;
    max-width:2400px; 
    padding:20px 45px 0;
    @include flex;
    @include margin(auto);

    h1 {
      font-size:35px;
      font-weight:700;
      color:map-get($u-gray, wt);
    }

    p {
      background-color:map-get($u-blue,box );
      color:map-get($u-blue, light);
      @include radius(30);
      padding:6px 15px;
      @include margin(10);
      font-size:10px;
      letter-spacing:1px;
    } 
  } // .page-header


  .page-main {
    padding-top:50px;
    padding-bottom:20px;
    position:relative;
    z-index:2;
    @include centerBox(940);
    @include grid(2, 52); 

    h2 {
     @extend %box-title; 
    }
    
    .login, .signup {
      footer button {
        font-weight:500;
      }
    }
    .login {
      background-color:map-get($u-gray, wt);
      @include radius(20);
      padding:20px 30px;
      display:flex;
      justify-content:space-between;
      flex-direction: column;

      .space { flex:1;}


      h2 {
        padding:10px 0 30px;
      }  

      footer {
        margin-top:20px;
  
        a {
          color:$t-guide;
          display:block;
          margin-top:10px;
  
          &:hover {
            color:$u-main;
          }
        }
      }
    }

    .signup {
      color:white;
      padding-top:20px;

      h3 {
        font-size:20px; 
        color:#fff;
      }

      p {
        font-size:18px;
      }

      p[lang=en] {
        color:$u-orange; 
        @include font(40, 1.2, 600);
        margin-bottom:30px;
      }

      .u-list {
        font-size:14px;
        margin-top:30px;
      }

      footer { 
        padding-bottom:20px;
        &:before {
          content:'';
          display:block;
          height:110px;
          background:url($url + 'login_illust.png') no-repeat center top/contain;
        }
        a {
          letter-spacing:2px;
          color:#fff;
          text-transform:uppercase; 
          font-weight:bold;
          display:block;
          text-align:center;
          margin-top:10px;
        }
      }

    }



    .tab-menu {
      @include flex(flex-end);
      li {
        flex-basis:50%;
        text-align:center;

        &:last-child {
          margin-left:-1px;
        }

       

        a {
          padding:18px 0;
          display:block;color:map-get($u-blue, medium);
          opacity:0.35;
          @include border($u-main, bottom); 

          &.active {
            opacity:1;
            font-size:14px;
            padding:20px 0;
          }

          &:hover {
            opacity:0.7;
          }
        }
      }
    } // tab-menu

    .tab-contents {
      min-height:260px;
      li {
        margin-top:14px;
        &.off {
          height:77.2px;
          .input-wrap {
            display:none;
          }
        }
      }
    } // tab-contents 

    
} // page-main


.page-footer {
  position:fixed;
  left:0;right:0;
  bottom:0;
  z-index:1;
  color:#8997c7;
  text-transform:uppercase;
  text-align:right;
  padding:0 40px 20px;

  &:before, &:after {
    content:'';
    display:block;
    width:1000px;
    height:1000px;
    position:fixed;
    bottom:-70%;
    z-index:-1;
  }

  &:before {
    left:-50%; 
    background: radial-gradient(circle, rgba(183,45,117,1) 0%, rgba(183,45,117,0) 70%);
  }

  &:after {
    right:-50%;
    background: radial-gradient(circle, rgba(45,44,116,1) 0%, rgba(45,44,116,0) 70%);
  }
}

} // .uvc-login end

// 회원가입모달창 
.signup-create {

  .modal-box {
    max-width:880px;
    width:100%;
  }

  h3 {
    font-size:14px;
    margin-bottom:5px;
    font-weight:700;
    letter-spacing:-0.5px;
  }
  .license, .userinfo {
    display:none;
    &.on {
      display:block;
    }
  }
  .license {
    .menus {
      @include grid(4, 15);
      text-align:center;
      $bars : #ececec, #95d2db, #8cc09d, #8067ab;
      $txt : #1d1d1b, #5faec9, #6fb084, #8058ab;

      li {
        @for $i from 1 through 4 {

          &:nth-child(#{$i}) {
            &:before {
              background-color:nth($bars, $i); 
            }

            h4 {
              color:nth($txt, $i);

            }

            .btn-license {
              background-color:darken(nth($bars, $i), 10); 
            }
          } 
        }
      }

      .btn-license {
        color:#fff;
        border-radius:4px;
        height:38px;padding:0 20px;
        font-size:13px;
        margin-top:10px;
        font-weight:700;
        display:none;
      }

      
      .menu {
        padding:20px;
        border:1px solid $u-line;
        @include border($u-line, $r:10);
        position:relative;
        &:before {
          content:''; 
          height:8px;
          border-radius:10px 10px 0 0;
          left:0;top:0;right:0;
          position:absolute; 
        }  

        h4 {
          font-size:22px;
        }

        .price {
          font-size:16px;
        }

        .limit {
          color:$u-main; 
          .hdd, .edge {
            font-weight:bold;
            &:after {

              color:map-get($u-gray, guide);
              margin-left:1px;
              font-size:11px;
              font-weight:normal;
            }
          }
          .hdd {
            &:after {
              content:'GB / '
            }
          }

          .edge {
            &:after {
              content:'Edge'
            }
          }
        }

        &.active {
          border:2px solid $u-main;
          background-color:map-get($u-gray, bg);
        }
      }

      .lite, .pro {
        .price {
          font-size:16px;
          &:before {
            content:'￦';
            margin-right:4px;
          }
        }
      }

      .free .price {
        color:map-get($u-gray, price);
        font-size:12px;
      }

      .business .price {
        color:$u-main;
        font-size:14px;
      }
      
      .details {
        display:none;
      }

    } // menus

    .detail-wrap {
      border:1px solid $u-line;
        @include border($u-line, $r:10);
        padding:20px;
        margin-top:14px;
      text-align:center;
      h5 {
        font-size:24px;
        span {
          color:map-get($u-blue, medium);
        }
      }
    }
    
    ul.services {
      font-size:14px;
      text-align:left;
      margin:10px auto;
      display:inline-block;
      li {
        position:relative;
        padding-left:30px;
        &:before {
          content:'';
          display:block;
          width:24px;height:24px;
          position:absolute;
          left:0;top:50%;
          margin-top:-12px;
          background:url($iconUrl + 'license_check.svg') no-repeat center center/contain;
        }
      }
    }

    .btn-container {
      margin-top:20px;
    }
    
  }
  .userinfo {
    .list {
      margin:16px 0 20px;
      @include grid(2, 10, 10);
  
      li:last-child {
        grid-column: 1 / span 2;
      }
    }
  }
}


@include media($break) {
  .uvc-login {
    display:block;
  }
  .uvc-login .page-header {
    justify-content:center;
    position:static;
  }
  .uvc-login .page-main {
    display:block;
    max-width:600px;
    padding-left:20px;
    padding-right:20px;

    .login {
      padding:20px 12px;
    }
 

   
  }
}

@include media($android) {
  .uvc-login .page-main {
    .signup {
      p {
        letter-spacing:-0.5px;
        line-height:1.3;
      }

      footer:before {
        height:90px;
      }
    } 
  }
}