$url : '~@/assets/images/';
$iconUrl : '~@/assets/images/icons/';

$license : 'free','lite','pro','business';


$pc : 1024;
$break : 960;
$tablet : 768;
$android : 480;
$mobile : 375;
$ios : 360;


// sidebar 문서
$sidebar : 240px;

// modal
$scroll-height : 200px; // 모달창 내용 길 경우 최소 사이즈 지정.