@charset "utf-8";

@import 'colors','variables','font','function','mixin','reset','typo','buttons';

b {
  font-weight:bold;
} 

a:hover {
  color:inherit;
}

%base {
  width:100%;
  max-width:1200px;
  @include margin(auto); 
}

.u-space {
  flex-grow:1;
}

body {
  color:#272B40;
  background-color:$body-bg; 
}

@import 'common','header','main','login','dashboard','modals','modules';

// plugins

@import 'datagrid','profilemaker','modeler','sitemap','test';

